# SPDX-FileCopyrightText: none
# SPDX-License-Identifier: CC0-1.0
*build*
*~
*.user

.clang-format
CMakeLists.txt.user*
/build*/
cmake-build-debug*
.idea
.clang-format
/compile_commands.json
.clangd
.cache
