[Desktop Entry]
Exec=kcmshell5 kcm_sddm
Icon=preferences-system-login
Type=Service
Categories=Qt;KDE;X-KDE-settings-system;

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_sddm
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=session
X-KDE-Keywords=sddm,display manager,theme
X-KDE-Keywords[cs]=sddm,správce obrazovky,motiv
X-KDE-Keywords[de]=SDDM,Display-manager,Design
X-KDE-Keywords[en_GB]=sddm,display manager,theme
X-KDE-Keywords[es]=sddm,gestor de pantallas,tema
X-KDE-Keywords[fi]=sddm,display manager,theme,kirjautumisruutu,kirjautumisohjelma,sisäänkirjautumisruutu,sisäänkirjautumisohjelma,teema
X-KDE-Keywords[hu]=sddm,bejelentkezéskezelő,téma
X-KDE-Keywords[nl]=sddm,displaymanager,thema
X-KDE-Keywords[pl]=sddm,menadżer wyświetlania,motyw,wystrój, zarządzanie wyświetlaniem
X-KDE-Keywords[pt]=sddm,gestor de autenticação,tema
X-KDE-Keywords[pt_BR]=sddm,gerenciador de tela,tema
X-KDE-Keywords[sk]=sddm,správca obrazovky,téma
X-KDE-Keywords[sv]=sddm,skärmhanterare,tema
X-KDE-Keywords[uk]=sddm;display manager;theme;керування входом;сддм;тема
X-KDE-Keywords[x-test]=xxsddm,display manager,themexx
X-KDE-Keywords[zh_CN]=sddm,display manager,theme，显示管理器，主题

Name=Login Screen (SDDM)
Name[cs]=Přihlašovací obrazovka (SDDM)
Name[de]=Anmeldebildschirm (SDDM)
Name[en_GB]=Login Screen (SDDM)
Name[es]=Pantalla de inicio de sesión (SDDM)
Name[fi]=Kirjautumisruutu (SDDM)
Name[hu]=Bejelentkező képernyő (SDDM)
Name[nl]=Aanmeldscherm (SDDM)
Name[pl]=Ekran logowania (SDDM)
Name[pt]=Ecrã de Autenticação (SDDM)
Name[pt_BR]=Tela de autenticação (SDDM)
Name[sk]=Prihlasovacia obrazovka (SDDM)
Name[sv]=Inloggningsfönster (SDDM)
Name[uk]=Вікно входу (SDDM)
Name[x-test]=xxLogin Screen (SDDM)xx
Name[zh_CN]=登录屏幕 (SDDM)

Comment=Select login theme
Comment[cs]=Vyberte přihlašovací motiv
Comment[de]=Anmelde-Design auswählen
Comment[en_GB]=Select login theme
Comment[es]=Seleccionar el tema de inicio de sesión
Comment[fi]=Valitse kirjautumisteema
Comment[hu]=A bejelentkező képernyő témájának kiválasztása
Comment[nl]=Aanmeldthema selecteren
Comment[pl]=Wybierz wystrój przy logowaniu
Comment[pt]=Seleccionar o tema de autenticação
Comment[pt_BR]=Seleciona o tema de autenticação
Comment[sk]=Vyberte tému prihlásenia
Comment[sv]=Välj inloggningstema
Comment[uk]=Вибрати тему вікна входу
Comment[x-test]=xxSelect login themexx
Comment[zh_CN]=选择登录主题
